.hidden {
  display: none;
}

.text-light {
  color: #fff;
}
.text-dark {
  color: var(--dark);
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.bold {
  font-weight: bold;
}

.card-header .fab {
  position: absolute;
  right: 15px;
  z-index: 5;
}

.fab.body {
  top: 120px;
  right: 10px;
  padding: 0;
  z-index: auto;
}

.card-header .card-title.top {
  position: absolute;
  z-index: 5;
  color: #fff;
  font-size: 2em !important;
  text-shadow: 0 .15em .2em #00000022;
}

.card-header img.background-dark[src=''] {
  height: 200px;
  display: inline-block;
  position: relative;
}

.card-header img.background-dark[src='']:before {
  content: 'fitness_center';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  line-height: 200px;
  text-align: center;
  font-size: 8em;
  opacity: .5;
}
.card .card-content p {
  white-space: pre-wrap;
}

#exerciseGrid .card .timeline {
  height: 4px;
  background: #e6e6e6;
  overflow: hidden;
  display: flex;
}
#exerciseGrid .card .timeline .active {
  background: var(--primary);
  height: 4px;
}
#exerciseGrid .card .timeline .rest {
  background: var(--secondary);
  height: 4px;
}

/* .card {
  border-radius: 24px;
} */
.appbar .btn.shaped {
  border-radius: 4px !important;
}
.appbar .btn.outlined {
  color: var(--light) !important;
}
.outlined {
  background: transparent;
  border: 3px solid;
}
.outlined[href] {
  border: 0;
  box-shadow: 0 0 0 3px !important;
}
.background-none {
  background: transparent;
}
.tooltip {
  font-size: .8rem;
  z-index: 999;
}

body {
  background: var(--secondary-light);
}
.flex {
  display: flex;
}

:root {
  --balance: #b5cef4;
  --endurance: #b5f4cd;
  --flexibility: #f4dfb5;
  --strength: #f4bbb8;
}

.chip.Balance {
  background-color: var(--balance) !important;
}
.chip.Endurance {
  background-color: var(--endurance) !important;
}
.chip.Flexibility {
  background-color: var(--flexibility) !important;
}
.chip.Strength {
  background-color: var(--strength) !important;
}
#body g#bodyOutline * {
  stroke-width: 0px !important;
}
#body g#separators * {
  stroke-width: 0px !important;
}
#body {
  box-shadow: 5px 5px 5px black;
}
.Balance #bodyFill *{
  fill: var(--balance) !important;
}
.Balance #separators * {
  stroke: var(--balance) !important;
}
.Balance #body path.active,
.Balance #body g.active * {
  fill: var(--balance) !important;
  filter: brightness(.7) saturate(3);
}
.Endurance #bodyFill *{
  fill: var(--endurance) !important;
}
.Endurance #separators * {
  stroke: var(--endurance) !important;
}
.Endurance #body path.active,
.Endurance #body g.active * {
  fill: var(--endurance) !important;
  filter: brightness(.7) saturate(4);
}
.Flexibility #bodyFill *{
  fill: var(--flexibility) !important;
}
.Flexibility #separators * {
  stroke: var(--flexibility) !important;
}
.Flexibility #body path.active,
.Flexibility #body g.active * {
  fill: var(--flexibility) !important;
  filter: brightness(.8) saturate(6);
}
.Strength #bodyFill *{
  fill: var(--strength) !important;
}
.Strength #separators * {
  stroke: var(--strength) !important;
}
.Strength #body path.active,
.Strength #body g.active * {
  fill: var(--strength) !important;
  filter: brightness(.8) saturate(5);
}

.dialog .dialog-content {
  margin: 0 -4px;
  padding: 0 4px;
}

.chip:focus,
.chip:focus-within {
  box-shadow: 0 0 0 2px;
}
.checkbox.chip {
  padding: 4px 8px;
  margin: 0 4px 4px 0;
}
.checkbox.chip, .checkbox.chip > span {
  position: relative;
}
.checkbox.chip > span:before {
  margin: 3px 5px 3px -1px;
  border-radius: 50%;
}
.checkbox.chip > span:after {
  left: 0;
}
.checkbox.chip > input {
  height: 32px;
  width: 32px;
  top: 0;
  left: 0;
}

.snackbar {
  z-index: 999;
}
.error, .textfield.error *, .textfield.error *:before, .textfield.error *:after, .textfield.error, .textfield.error:before, .textfield.error:after {
  border-color: var(--danger);
  color: var(--danger) !important;
  background-color: #ff3f0411;
}

@media (max-width: 1040px) {
  .dialog .flex {
    flex-direction: column;
  }
  .dialog .flex > * {
    margin: 0 0 4px !important;
  }
}